.image-mao {
  background-image: url('../../public/images/celular_mao.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 80%;
}

@media (min-width: 786px) {
  .image-mao {
    background-size: 85%;
  }
}

@media (min-width: 900px) {
  .image-mao {
    background-position: 100% 90%;
  }
}

@media (min-width: 1024px) {
  .image-mao {
    background-size: 64%;
    background-position: 100% 56%;
  }
}