.imageElement {
  background-image: url('../../public/images/welcome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 74% 100%;
}

.arrowElement {
  bottom: -130px;
  left: -300px;
  transform: rotate(49deg);
}

@media(min-width: 900px) {
  .arrowElement {
    left: -350px;
  }
}

@media(min-width: 1024px) {
  .imageElement {
    background-image: url('../../public/images/welcome.jpg');
    
  }

  .arrowElement {
    bottom: -431px;
    left: -500px;
    transform: rotate(32deg);
  }
}

@media(min-width: 1740px) {
  .arrowElement {
    left: -610px;
  }
}

/* @media (min-width: 1920px) {
  .arrowElement {
    bottom: -41%;
    left: -36%;
  }
} */